%h1.invisible Hidden
%h1.invisible Hidden
.welcome.ac
	%h1.brand.text-info GroupMeal
	%h2.tagline
		The simplest way of scheduling meals with your groups and friends
	%p
		%button#fblogin.btn.btn-info.btn-large
			Login with Facebook

%h1.invisible Hidden
.how-it-works
	%h1.ac.text-info How it works
	.row-fluid
		.span6
			%h3.ac Create a meal
			%ol
				%li Create a meal
				%li Make the reservation online
				%li Invite your friends / groups throught Facebook
		.span6
			.pull-right
				%h3.ac Join a meal of your friends
				%ol
					%li Browse the meals your friends created
					%li Join the meal you like
%h1.invisible Hidden