#header{
	.brand{
		text-decoration: none;
	}
	.nav-pills>li>a{
		line-height: 30px;
		padding-left: 24px;
		padding-right: 0;
		&:hover{
			background: none;
		}
		.img-rounded{
			width: 26px;
		}
	}
}
.welcome{
	.brand{
		font-size: 60px;
	}
	.tagline{
		text-align: center;
	}	
}
.how-it-works{

}
